---
permalink: /table-of-contents/index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts | {{ site.name }}</title>
    <link rel="canonical" href="{{ site.url }}/posts/">
    <meta http-equiv="refresh" content="0; url=/posts/">
    <script>location.replace("/posts/");</script>
</head>
<body>
    <p>The table of contents is now part of <a href="/posts/">Posts</a>.</p>
</body>
</html>
